@charset "UTF-8";

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Semibold.eot');
    src: local('Lato Semibold'), local('Lato-Semibold'),
        url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
  font-family: "Lato";
  font-weight: normal;
  color: #161615;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width:100%;
}

input,
button,
textarea {
  font-family: "PT Sans Caption";
  font-size: inherit;
  outline:none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #161615;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.page_h2,
h2.main {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.page_h2 {
    text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td {
  padding: 0;
  margin: 0;
}

/*--------------------------------*/

.btn {
    border: 1px solid #2A7D5A;
    border-radius: 9px;
    padding: 10px 25px;
    color:#2A7D5A;
    display: inline-flex;
    transition: background .5s ease!important;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #2A7D5A;
    color: white;
}

.btn_fill {
    background-color: #2A7D5A;
    color: white;
}

.btn_fill:hover {
    background-color: white;
    color: #2A7D5A;
}

header {
  width:100%;
  height: 90px;
  border-bottom: 1px solid #2A6B2C;
}

section {
    padding: 15px 0;
}

._container {
    width: 100%;
    max-width:1440px;
    margin: 0 auto;
}

header ._container {
    display: flex;
}

.city_selector {
    margin-left: 0;
    display: flex;
    max-height: 90px;
}

.logo {
    width:150px;
    height: 90px;
    margin: 5px auto 0 auto;
    background-color: white;
    padding:  0 10px 0 10px;
}

.logo .hor_logo,
.logo .mini_logo
{
    display: none;
}

.shop_button {
    margin-right: 0;
}

/*-----Элемент выбора города-----*/

.city_select_lnk{
    font-size: 18px;
    color:#161615;
    margin: auto auto auto 20px;
    position: relative;
}

.city_select_lnk::before{
    content:"";
    position: absolute;
    width: 14px;
    height: 20px;
    left:-20px;
    background-image: url(../img/icons/map-pin.svg);
    background-size: cover;
}

/*-----Элемент выбора города end-----*/

.shop_button {
    display: flex;
    max-height: 90px;
}

.shop_button .shop_buttons_:last-child{
    margin-right: 0;
}

.shop_buttons_ {
    margin: auto 10px;
}

.shop_buttons_::before {
    content: "";
    background-size: cover;
}

.shop_buttons_.shop_button_cabinet {
    background-image: url("../img/icons/piple.svg");
    width: 25px;
    height: 25px;
}

.shop_buttons_.shop_button_favorites {
    background-image: url("../img/icons/like.svg");
    width: 32px;
    height: 26px;
}

.shop_buttons_.shop_button_cart {
    background-image: url("../img/icons/cart.svg");
    width: 27px;
    height: 30px;
}

/*-----Блок с кнопкой каталога-----*/

.hed_menu_section {
    padding: 20px 0;
}
.hed_menu_section ._container{
    display: flex;
    justify-content: space-between;
}

.catalog_button {
    background-color: #2A7D5A;
    padding: 13px 35px 13px 70px;
    color:white;
    position: relative;
    display: inline-block;
    border-radius: 8px;
    font-size: 20px;
}

.catalog_button span{
    position: relative;
}

.catalog_button span:before{
    content: "";
    width:26px;
    height: 16px;
    background-image: url(../img/icons/menu-white.svg);
    position: absolute;
    left:-45px;
    top:4px
}

.serch_form {
    border-radius: 9px;
    border: 1px solid #2A7D5A;;
    display: flex;
}

.search_input {
    position: relative;
    border: none;
    width:90%
}

.search_btn {
    position: relative;
    min-height: 46px;
    width: auto;
}

.search_btn::before {
    content: "";
    width: 24px;
    height: 18px;
    background-image: url(../img/icons/linse.svg);
    position: absolute;
    top:13px;
    left: -10px;
}

.phone_head_blk {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.phone_head_blk span {
    color: #8C8B8B;
    font-size: 16px;
}

.phone_head_blk .phone {
    font-size: 26.3px;
    color:#161615;
    font-weight: 600;
}

.dostavka_head_blk {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.dostavka_head_blk a{
    position: relative;
    margin: auto 0 auto 60px;
}

.dostavka_head_blk .delivery::before {
    content: '';
    width: 22px;
    height: 25px;
    background-image: url(../img/icons/box.svg);
    background-size: cover;
    position: absolute;
    left:-30px;
    top:-2px;
}

.dostavka_head_blk .obmen::before {
    content: '';
    width: 25px;
    height: 25px;
    background-image: url(../img/icons/obmen.svg);
    background-size:cover;
    position: absolute;
    left:-35px;
    top:-2px;
}

.messendger_head_blk {
    display: flex;
}

.messendger_head_blk a{
    position: relative;
    margin: auto 20px;
}

.messendger_head_blk a::before {
    top:-8px;
}

.messendger_head_blk .whatsapp::before {
    content: '';
    width: 18px;
    height: 18px;
    background-image: url(../img/icons/whatsapp.svg);
    position: absolute;

}

.messendger_head_blk .telegram::before {
    content: '';
    width: 21px;
    height: 18px;
    background-image: url(../img/icons/telegram.svg);
    position: absolute;
}

.messendger_head_blk .phone {
    display: none;
}

.messendger_head_blk .phone::before {
    content: '';
    width: 19px;
    height: 19px;
    background-image: url(../img/icons/phone.svg);
    position: absolute;
    background-size: cover;
}

/*-----Блок с кнопкой каталога end-----*/


/*-----Блок с баннером-----*/

.main_banner {
    width:100%;
    max-height: 515px;
    padding: 0;
}

.main_banner .slider{
    width:100%;
    height: auto;
    position: relative;
}

.banner_controll {
    position: absolute;
    z-index: 100000;
    width:200px;
    bottom: 20px;
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
}

.banner_controll .swiper-pagination-bullet {
    width:12px;
    height: 12px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    margin: 0 5px;
    opacity: 1;
}

.swiper-pagination-bullet-active,
.banner_controll .swiper-pagination-bullet-active:hover {
    background-color: #2A7D5A!important;
}

/*-----Блок с баннером end-----*/

/*-----Блок с категориями на главной-----*/

.top_categories ._container{
    display: flex;
    justify-content: center;
}


.top_category {
    display: flex;
    flex-direction: column;
    margin:  0 30px;
}

.top_category:hover .border{
    border: 2px solid #2A7D5A;
}

.top_category span{
    width:100%;
    text-align: center;
    display: block;
    color:#161615;
}

.cat_img {
    position: relative;
    width:88px;
    height:88px;
    margin:0 auto 10px auto;
}

.top_category .border{
    border: 2px solid #F18614;
    border-radius: 50px;
    position: absolute;
    z-index: 1000;
    width:88px;
    height: 88px;
}

.top_category .img_wrap{
    width: 72px;
    height: 72px;
    border-radius: 50px;
    position: absolute;
    z-index: 2000;
    left:calc(50% - 36px);
    top:calc(50% - 36px);
    overflow: hidden;
}

/*-----Блок с категориями на главной end-----*/

/*-----Карточька товара---------*/

.tovars_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tovar_wrap{
    border-radius: 9px;
    overflow: hidden;
    max-width: 340px;
    width:24%;
    display: flex;
    flex-direction: column;
    position:relative;
    margin-bottom: 30px;
}

.tovar_wrap:hover {
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.tovar_wrap .like{
    position: absolute;
    width:25px;
    height:25px;
    margin: 5px;
    background-image: url(../img/icons/like_orange.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}


.tovar_wrap.active,
.tovar_wrap .like:hover{
    background-image: url(../img/icons/like_orange_fill.svg);
}

.tovat_photo_wrap {
    height: 370px;
    position: relative;
}

.tovat_photo_wrap img{
    width:100%;
    z-index: 2;
    position: absolute;
}

.tovat_photo_wrap .labels {
    z-index: 3;
    bottom: 0;
    position: absolute;
}

.label_all {
    color:white;
    margin-right: 5px;
    padding: 4px 13px;
    display: inline-block;
}

.label_hit {
    background-color: #2A7D5A;
}

.label_procent {
    background-color: #F18614;
}


.tovar_wrap h3{
    font-size: 18px;
    padding: 0 10px;
    margin: 20px 0 10px 0;
}

.tovar_info_wrap {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.prices .old_price{
    text-decoration: line-through;
    font-size: 16px;
    color:#161615;
    font-weight: normal;
}

.prices{
    color:#2A7D5A;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.rub_symbol {
    font-family: Arial, Helvetica, sans-serif;
}

.tovar_wrap .tovar_wrap_padding {
    padding: 0 20% 0 20px;
}

.tovar_button_wrap {
    margin-top: auto;
    position: relative;
    margin-bottom: 20px;
}

.cart_btn:hover::before {
    content: "";
    background-image: url(../img/icons/cart_white.svg);
}

.cart_btn::before {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url(../img/icons/cart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top:7px;
}

.cart_btn {
    position: relative;
    padding: 8px 25px 8px 50px;
}



/*-----Карточька товара end-----*/


/*-----Преимущества на главной-----*/

.advantages {
    width: 100%;
    display: flex;
}

.advantages .advantages_blk:first-child{
    margin-right: 20px;
    border-radius: 9px 0 0 9px;
    background-image: url(../img/uzor-mini.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.advantages .advantages_blk:last-child{
    margin-left: 20px;
    border-radius:  0 9px 9px 0;
    background-image: url(../img/uzor-big.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.advantages_blk {
    background-color: #2A7D5A;
    color:white;
    padding: 50px;
}

.advantages_blk h3{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*-----Преимущества на главной end-----*/

/*-----Слайдер с брендами-----*/

.swiper_obj {
    position: relative;
}

.main_brand_slider{
    width:90%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main_brand_slider .swiper-slide {
    height: 100px;
}

.main_brand_slider {
    position: relative;
}

.swiper_obj .btn_all
{
    position: absolute;
    top:calc(50% - 20px);
    z-index: 10;
    cursor: pointer;
}


.swiper_obj .btn_all::before {
    content:'';
    width:41px;
    height:41px;
    position: absolute;
}

.swiper_obj .btn_left {

}

.swiper_obj .btn_left::before {
    content:'';
    background-image: url(../img/icons/slider_arrw.svg);
}

.swiper_obj .btn_right {
    right: -0px;
    z-index: 10;
}

.swiper_obj .btn_right::before {
    content:'';
    transform: rotate(-180deg);
    right:0;
    background-image: url(../img/icons/slider_arrw.svg);
}

/*-----Слайдер с брендами end-----*/

/*-----Большие категории-----*/

.big_cat_wrap{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.big_cat_wrap .big_cat_element {
    width:32%;
    height: 205px;
    background-color: #2A7D5A;
    position: relative;
    color:white;
    padding: 50px;
    overflow: hidden;
}

.big_cat_wrap .big_cat_element h2{
    font-size: 26px;
    width: 50%;
    line-height: 1;
    font-weight: bold;
}

.big_cat_wrap .big_cat_element:first-child {
    border-radius: 9px 0 0 9px;
}

.big_cat_wrap .big_cat_element:last-child {
    border-radius: 0 9px 9px 0;
}

.big_cat_photo {
    position: absolute;
    width: 50%;
    height: 100%;
    background-size: cover;
    right: 0;
    top:0;
}

.big_cat_photo .big_cat_masc{
    position: absolute;
    height: 100%;
    width:50%;
    background-image: url(../img/big_cat_mask.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100;
}

.big_cat_photo_1 {
    background-image: url(../img/big_cat_photo_1.jpg);
}

.big_cat_photo_2 {
    background-image: url(../img/big_cat_photo_2.jpg);
}

.big_cat_photo_3 {
    background-image: url(../img/big_cat_photo_3.jpg);
}

/*-----Большие категории end-----*/


/*-----Подвал-----*/

footer {
    width:100%;
}

footer .footer_top{
    width:100%;
    position: relative;
    border-bottom: 1px solid #2A6B2C;
    height: 77px;
}

footer .logo {
    position: absolute;

    width: 150px;
    height: 90px;
    margin: 5px auto 0 auto;
    background-color: white;
    padding: 0 10px 0 10px;
    left: calc(50% - 75px);
    top:11px;
}

.footer_bottom {
    width:100%;
}

.footer_bottom .phone_head_blk{
    margin: auto 0;
}

.footer_bottom ._container{
    display: flex;
    height: 100px;
    justify-content: space-between;
}

/*-----Подвал end-----*/

/*-----Сайдбар-----*/

.category_body {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width:100%;
    max-width: 300px;
    padding-right: 30px;
}

.category_tovars {
    flex:1;
}

.class_tovar_sorter {
    margin-bottom: 20px;
}

.class_tovar_sorter select {
    min-height: 36px;;
}

.class_tovar_sorter select:first-child {
    margin-right: 10px;
}

/*-----Сайдбар end-----*/

/*-----Фильтр-----*/

.tovar_filter {
    width:100%;
}

.acc_blk {
    display: flex;
    flex-direction: column;
}

.acc_blk .acc_head{
    width:100%;
    cursor:pointer;
}

.acc_blk .acc_head span{
    font-size: 22px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.acc_blk .acc_head span::before{
    content: "";
    width:13px;
    height: 6px;
    position: absolute;
    background-image: url("../img/icons/arrow_m.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    right:-20px;
    top:calc(50% - 3px)
}

.acc_blk .acc_body{
    width:100%;
    min-height: 40px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.price_selector_wrapper {
    width:100%;
    display: flex;
}

.price_selector_wrapper label{
    display: flex;
    flex-direction: column;

}
.price_selector_wrapper span{
    font-size: 14px;
    margin-bottom: 5px;
}

.price_selector_wrapper label input{
    width:115px;
    min-height: 36px;
    border: 1px solid #D2D1D1;
}

.price_selector_wrapper label.price_start input{
    border-radius: 9px 0 0 6px;
}

.price_selector_wrapper label.price_end input{
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.filter_control_blk {
    display: flex;
    flex-direction: column;
}

.filter_control_blk .btn:first-child{
    margin-bottom: 10px;
}

/*-----Фильтр end-----*/

/*-----Описание окмпонентов формы-----*/
select,
input {
    border-radius: 9px;
    min-height: 46px;
    padding: 0 20px;
    border: 1px solid #2A7D5A;
    outline: none;
}

::placeholder {
    color: #BABABA;
    font-size: 16px;
}


.ch_label {
    width:100%;
    margin: 5px 0;
}

.ch_label input{
    display: none;
}

.ch_label span{
    position: relative;
    padding-left: 30px;
}

.ch_label span::before{
    content:"";
    width:16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #D2D1D1;
    position: absolute;
    color:white;
    left:0;
}

.ch_label input:checked ~ span::before{
    content:'\2714';
    background-color: #2A7D5A;
}

/*-----Описание окмпонентов формы end-----*/



@media (max-width: 1440px){
    ._container {
        width:96%;
        margin: 0 2%;
    }
}


@media (max-width: 1024px){
    .dostavka_head_blk{
        flex-direction: column;
    }

    .dostavka_head_blk .delivery::before {
        width: 20px;
        height: 22px;
    }

    .dostavka_head_blk .obmen::before {
        width:22px;
        height:22px;
        left: -31px;
    }

    .advantages_blk {
        padding: 35px 50px;
    }

    .hed_menu_section .phone_head_blk {
        display: none;
    }

    .messendger_head_blk .phone {
        display: block;
    }

    .dostavka_head_blk a {
        margin: auto 0 auto 40px;
    }

    .tovar_wrap {
        width:49%;
    }

    .advantages {
        flex-direction: column;
    }

    .advantages_blk {
        margin:  5px 0 5px 0!important;
        border-radius: 9px!important;
    }

    .big_cat_wrap {
        flex-wrap: wrap;
    }

    .big_cat_wrap .big_cat_element {
        width:49%;
        border-radius: 9px!important;
        margin-bottom: 10px;
    }

    .top_categories ._container {
        overflow: auto;
        justify-content: start;
    }

    .top_categories ._container::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 768px){
    .dostavka_head_blk {
        display: none;
    }
}

@media (max-width: 680px){

    header {
        height: auto;
        padding: 5px 0;
    }

    .logo {
        margin: 0 auto 0 auto;
        height: auto;
    }

    .logo .hor_logo
    {
        display: block;
        width:100%;
        object-fit: contain;
    }

    .logo .big_logo,
    .logo .mini_logo {
        display: none;
    }

    .shop_buttons_ {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .shop_buttons_.shop_button_cabinet {
        width: 20px;
    }

    .shop_buttons_.shop_button_favorites {
        width: 22px;
    }

    .shop_buttons_.shop_button_cart {
        width: 20px;
    }



    .serch_form {
        margin-left: 20px;
    }

    section {
        padding: 15px 0;
    }

    h2.main {
        margin-bottom: 30px;
    }


    .tovat_photo_wrap {
        height: 270px;
    }

    .big_cat_wrap {
        flex-direction: column;
    }

    .big_cat_wrap .big_cat_element {
        width:100%;
        margin-bottom: 20px;

    }

    .footer_bottom ._container {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }

    .footer_bottom .messendger_head_blk {
        margin: 0 auto 20px auto;
    }

    .footer_bottom .phone_head_blk {
        margin: 50px auto 30px auto;
    }

}

@media (max-width: 480px){
    .catalog_button {
        display: none;
    }

    .serch_form {
        margin-left: 0;
        width:100%
    }

    .hed_menu_section {
        padding: 10px 0;
    }

    .top_category span {
        font-size: 12px;
    }

    .top_category {
        margin: 0 10px;
    }

    h2.main {
        font-size: 26px;
    }

    .tovat_photo_wrap {
        height: 210px;
    }

    .hed_menu_section .messendger_head_blk {
        display: none;
    }
}

@media (max-width: 375px){
    .logo {
        width: 100px;
        padding: 0;
    }
    /* .logo .mini_logo
    {
        display: block;
        width:100%;
        object-fit: contain;
    }

    .logo .big_logo,
    .logo .hor_logo {
        display: none;
    } */
}
