.pagination__nav-links {
    width:100%;
    display: flex;
    justify-content: center;
}
.pagination__nav-links a{
    line-height: 24px;
    font-size: 14px;
    position: relative;
}

.pagination__numbers {
    width:24px;
    height:24px;
    border-radius: 40px;
    margin: 0 5px;
    text-align: center;

}

.pagination__numbers.current {
    background-color: #2A7D5A;
    color: white;
}


.pagination__back {
    margin-right: 15px ;
}

.pagination__back::before {
    content: "";
    width:13px;
    height: 11px;
    background-image: url(../img/icons/pagination-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    position: absolute;
    left:-25px;
    top:calc(50% - 6px)
}

.pagination__next {
    margin-left: 15px ;
    margin-right: 25px ;
}

.pagination__next::before {
    content: "";
    width:13px;
    height: 11px;
    background-image: url(../img/icons/pagination-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right:-25px;
    top:calc(50% - 6px)
}

.more_btn_wrap {
    display: flex;
    justify-content: center;
    margin:  0 0 30px 0;
}
